@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddCategory</h2>
@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    @Html.Label("Category Name")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />
    <br />
    @Html.Label("Category Description")
    @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription)
    <br />
    <br />
    <button class="btn btn-info" id="btn1">Add</button>

}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $('#btn1').click(function () {
        swal("Congrats", "Added", "success");
    })
</script>

